.streaksCard {
    width: 100px;
    height: 150px;
    padding: 10px;

}
#titleBar {
    height: 50px;
    color: #0f3a65;
    font-size: 36px;
    text-align: center;
    width: 100%;
    z-index: 999999;
    background-color: #92ceff;
}
#streaks-scene {
    width: 100%;
    height: 100%;
    background-color: #0f3a65;
    font-size: 18px;
    font-weight: 900;
    color: white;
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    text-align: center;
}
#streaks-table {
    width: 100%;
}
.cardArea {
    /*background-image: url("../images/backdrops/backdrop36.jpg");
    background-position: center center;*/
    background-color: #dceffe;
    /*margin-top: 60px;
    margin-top: 25%;*/
    transform: translateY(0px);
    

        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
        position: relative;
}
.cardNum {
    font-size: 24px;
    font-weight: bolder;
    top: 0px;
    left: 0px;
    position:fixed;
    margin: 5px 0 0 10px;
}

.cardSuits, .cardImage {
    width: 75px;
    height: 75px;
}

#streaks-menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #FFCCFF;
    color: #003300;
    z-index: 999999;
    visibility: "hidden";
}

button {
    width: 100px;
    height: 100px;
    border: 4px solid #4a4aff;
    border-radius: 10px;
    background-color: #92fffc;
    color: #4a4aff;
    text-align: center;
    transform: translateY(0px);
    font-size: 24px;
}
button:active, .highlight {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
    border: 4px solid #92fffc;
    background-color: #4a4aff;
    color: #92fffc;
}

#streaks-table > tr {
    width: 100%;
    padding-bottom: 20%;
}


.streaksCard > button {
    height: 150px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: #b7b7b7;
    color: black;
    text-align: center;
    transform: translateY(0px);
}
.streaksCard > button:active, .highlight {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
    border: 4px solid black;
    background-color: #7720CC;
    color: #FFFFFF;
}

#winnerInfo {
    width:100%;
    height:18px;
    font-size:18px;
    text-align:center;
    color:#FFFFFF;
    font-family:"Consolas";
    font-weight:900;
    z-index:999999;
}
#buttonBar {
    position:fixed;
    bottom:18px;
    right:0;
    width:100%;
    opacity:.8;
    height:100px;
    font-size:18px;
    background-color:#92ceff;
    text-align:right;
    color:#885555;
    font-family:Consolas;
    font-weight:900;
}













/*
 *
 * Copyright 2011 fxspec06 (Bryan Leasot)
 * Not for distribution
 * Use of Villo appliccable to the appropriate licenses
 *
 */


@-webkit-keyframes flipCard
{
from 0% to 42%{-webkit-animation-timing-function: ease-in;}
from 42% to 58%{-webkit-animation-timing-function: ease-in-out;}
from 58% to 100%{-webkit-animation-timing-function: ease-out;}
}
.hideThis {
	visibility: hidden;
}
.rotateCard {
	visibility: inherit;
}
.back {
	width: 86px;
	height: 127px;
	position:absolute;
	top:7.5%;
	left:0%;
}
.shadow {
	margin-left:-5%;
	margin-top:-7%;
	width: 96px;
	height: 137px;
	vertical-align: top;
}
.card {
    position: fixed;
}
.cardFace {
}
.fix {
	-webkit-animation-name: flipCard;
	-webkit-border-radius: 0px;
	-webkit-transition: -webkit-transform 1000ms;
    -webkit-transform-style: preserve3d;
    -webkit-perspective: 300;
    -webkit-backface-visibility: hidden;
	position: fixed;
	vertical-align: top;
}
/*------------------------------------*/
.front {
	width: 86px;
	height: 127px;
}
.backSide {
	width: 86px;
	height: 127px;
}

/*------------------------------------*/

.cardLeft {
	position:absolute;
	width: 32px;
	height: 32px;
	top: -0%;
	left: -3.5%;
}
.cardRight {
	position:absolute;
	width: 32px;
	height: 32px;
	bottom:1%;
	left:64.5%;
}
.cardSuit {
	position:absolute;
	width: 75px;
	height: 75px;
	vertical-align: middle;
	left:8.5%;
	top:20.5%;
}

