.triangle-isosceles3-171 {
}
.triangle-isosceles2-171 {
	border-bottom-color: transparent;
	border-left-color: #bf1304;
	border-right-color: transparent;
	border-top-color: #bf1304;
}
.triangle-isosceles-171 {
	background: #bf1304;
	color: #f2e3b3;
}
/*******************************************/
.triangle-isosceles-175851 {
	background: #bf1304;
	color: #f2e3b3;
}
.triangle-isosceles2-175851 {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: #bf1304;
	border-top-color: #bf1304;
}
.triangle-isosceles3-175851 {
}
/*******************************************/
.triangle-isosceles3-611 {
}
.triangle-isosceles2-611 {
	border-bottom-color: transparent;
	border-left-color: #292929;
	border-right-color: transparent;
	border-top-color: #292929;
}
.triangle-isosceles-611 {
	background: #292929;
	color: #0000FF;
}
/*******************************************/
.triangle-isosceles-615851 {
	background: #292929;
	color: #0000FF;
}
.triangle-isosceles2-615851 {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: #292929;
	border-top-color: #292929;
}
.triangle-isosceles3-615851 {
}
/*******************************************/
.triangle-isosceles2-11 {
	border-bottom-color: transparent;
	border-left-color: #68a8c4;
	border-right-color: transparent;
	border-top-color: #68a8c4;
}
.triangle-isosceles3-11 {
}
.triangle-isosceles-11 {
	background: #68a8c4;
	color: #000;
}
/*******************************************/
.triangle-isosceles3-8741 {
}
.triangle-isosceles2-8741 {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: #f7941d;
	border-top-color: #f7941d;
}
.triangle-isosceles-8741 {
	background: #f7941d;
	color: #002d3d;
}
/*******************************************/
.triangle-isosceles-9011 {
	background: #f2e3b3;
	color: #000;
}
.triangle-isosceles2-9011 {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: #f2e3b3;
	border-top-color: #f2e3b3;
}
.triangle-isosceles3-9011 {
}
/*******************************************/
.triangle-isosceles-7101 {
	background: #006750;
	color: #f2e3b3;
}
.triangle-isosceles2-7101 {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: #006750;
	border-top-color: #006750;
}
.triangle-isosceles3-7101 {
}
.v2 {
	position: absolute;
}
/*******************************************/
.timestampYEAH-11, .timestampYEAH-9011, .timestampYEAH-8741, .timestampYEAH-175851, .timestampYEAH-7101, .timestampYEAH-171, .timestampYEAH-615851, .timestampYEAH-611 {
	left: 930.4px;
	font-size: 18.75px;
	color: #999999;
	position: absolute;
	text-transform: lowercase;
}
.usernameYEAH-11, .usernameYEAH-9011, .usernameYEAH-8741, .usernameYEAH-175851, .usernameYEAH-7101, .usernameYEAH-171, .usernameYEAH-615851, .usernameYEAH-611 {
	width: 800px;
	margin-left: 18.75px;
	font-size: 18.75px;
	color: #999999;
}