/*******************************************/
.triangle-isosceles3-17 {
	background-image:url("../images/villo/S-LEFT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
.triangle-isosceles2-17 {
	border-bottom:7px solid transparent;
	border-left:7px solid #bf1304;
	border-right:7px solid transparent;
	border-top:7px solid #bf1304;
	display:block;
	height:0;
	margin-left:50px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles-17 {
	background:#bf1304;
	color:#f2e3b3;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
/*******************************************/
.triangle-isosceles-17585 {
	background:#bf1304;
	color:#f2e3b3;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
.triangle-isosceles2-17585 {
	border-bottom:7px solid transparent;
	border-left:7px solid transparent;
	border-right:7px solid #bf1304;
	border-top:7px solid #bf1304;
	display:block;
	height:0;
	margin-left:260px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles3-17585 {
	background-image:url("../images/villo/S-RIGHT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
/*******************************************/
.triangle-isosceles3-61 {
	background-image:url("../images/villo/S-LEFT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
.triangle-isosceles2-61 {
	border-bottom:7px solid transparent;
	border-left:7px solid #292929;
	border-right:7px solid transparent;
	border-top:7px solid #292929;
	display:block;
	height:0;
	margin-left:50px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles-61 {
	background:#292929;
	color:#0000FF;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
/*******************************************/
.triangle-isosceles-61585 {
	background:#292929;
	color:#0000FF;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
.triangle-isosceles2-61585 {
	border-bottom:7px solid transparent;
	border-left:7px solid transparent;
	border-right:7px solid #292929;
	border-top:7px solid #292929;
	display:block;
	height:0;
	margin-left:260px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles3-61585 {
	background-image:url("../images/villo/S-RIGHT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
/*******************************************/
.triangle-isosceles2-1 {
	border-bottom:7px solid transparent;
	border-left:7px solid #68a8c4;
	border-right:7px solid transparent;
	border-top:7px solid #68a8c4;
	display:block;
	height:0;
	margin-left:50px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles3-1 {
	background-image:url("../images/villo/S-LEFT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
.triangle-isosceles-1 {
	background:#68a8c4;
	color:#000;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
/*******************************************/
.triangle-isosceles3-874 {
	background-image:url("../images/villo/S-RIGHT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
.triangle-isosceles2-874 {
	border-bottom:7px solid transparent;
	border-left:7px solid transparent;
	border-right:7px solid #f7941d;
	border-top:7px solid #f7941d;
	display:block;
	height:0;
	margin-left:260px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles-874 {
	background:#f7941d;
	color:#002d3d;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
/*******************************************/
.triangle-isosceles-901 {
	background:#f2e3b3;
	color:#000;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
.triangle-isosceles2-901 {
	border-bottom:7px solid transparent;
	border-left:7px solid transparent;
	border-right:7px solid #f2e3b3;
	border-top:7px solid #f2e3b3;
	display:block;
	height:0;
	margin-left:260px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles3-901 {
	background-image:url("../images/villo/S-RIGHT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
/*******************************************/
.triangle-isosceles-710 {
	background:#006750;
	color:#f2e3b3;
	font-size:14px;
	margin:0 10px;
	padding:7px;
	position:relative;
	-webkit-border-radius:5px;
}
.triangle-isosceles2-710 {
	border-bottom:7px solid transparent;
	border-left:7px solid transparent;
	border-right:7px solid #006750;
	border-top:7px solid #006750;
	display:block;
	height:0;
	margin-left:260px;
	margin-top:0;
	overflow:visible;
	width:0;
}
.triangle-isosceles3-710 {
	background-image:url("../images/villo/S-RIGHT.png");
	width:310px;
	height:55px;
	position:absolute;
	margin-left:10px;
	margin-bottom:-5px;
}
/*******************************************/
.timestampYEAH-1, .timestampYEAH-901, .timestampYEAH-874, .timestampYEAH-17585, .timestampYEAH-710, .timestampYEAH-17, .timestampYEAH-61585, .timestampYEAH-61 {
	left:247px;
	font-size:15px;
	color:#999999;
	position:absolute;
	text-transform:lowercase;
}
.usernameYEAH-1, .usernameYEAH-901, .usernameYEAH-874, .usernameYEAH-17585, .usernameYEAH-710, .usernameYEAH-17, .usernameYEAH-61585, .usernameYEAH-61 {
	width:250px;
	margin-left:15px;
	font-size:15px;
	color:#999999;
}